*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box; 
}
body
{	
	font-family: Open Sans;
	font-weight: 400;
	font-size: 18px;
    font-style: normal;
	color: #333;
	line-height: 32px;
}
.template-navbar
{
	height: 50px;
    border-bottom: 1px solid #fff;
    background: #eceff1;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
}
.header
{
	font-family: Old Standard TT;
	width: 90%;
	margin:0 auto;
	text-align:center;
	padding-top:40px;
}
.header a
{
	color: #000;
	text-decoration:none;
}
.header a h1
{
	
	font-size: 38px;
    font-style: normal;
	font-family: Old Standard TT;
	font-weight: 400;
	color: #333;
	
}
/***************************************/
/*welcome */
.welcome 
{
	line-height: 1.5;
	text-align:center;
	padding-top:200px !important;
	padding-bottom: 170px !important;
	padding-left: 15px;
    padding-right: 15px;
}
.welcome h2 
{
	    font-family: Old Standard TT;
		font-size: 88px;
		color: #333333;
		line-height: 88px;
		margin-bottom: 70px !important;
		font-weight:400;
}
.welcome p 
{
	padding-right: 15% !important;
    padding-left: 15% !important;
	margin-bottom: 35px;
	line-height: 32px;
	letter-spacing: .07em;
}
/***************************************/
/* navbar */
.navbar
{
	text-align:center;
	padding-left: 15px;
    padding-right: 15px;
	color: #bababa;
	font-style: italic;
	font-size: 15px;
	letter-spacing: .1em;
	font-family: Old Standard TT;
}
.navbar ul  
{
	list-style:none;
}
.navbar ul li
{
	display:inline-block;
	cursor:pointer;
}
.navbar ul li:hover
{
    color: #919090;
}
.navbar ul li::after
{
	content:" / ";
	margin-left:15px;
	margin-right:15px;
	
}
.navbar ul li:last-child:after
{
	content : " ";
	margin:0px;
}
/***************************************/
/*photos */
.photos
{
	padding: 35px;
	width:100%;
}
.photos .photo-box
{
	width:33.3333333%;
	float:left;
	padding:35px;
}
.photo-content
{
	    background: #f8f8f8;
		width:100%;
		padding: 80px 40px 40px 40px;
		text-align:center;
}
.photo-content img 
{
	max-width:100%;
	height:auto;
	
}
.photo-content a 
{
	font-family: Old Standard TT;
	color: #393939;
    font-size: 20px;
    letter-spacing: .16em;
    line-height: 20px;
    margin-bottom: 10px;
	text-decoration:none;
}
.photo-content span
{
	color: #919090;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: .36em;
    text-transform: uppercase;
	display:block;
}
.clear
{
	clear:both;
}
/***************************************/
/* let us  */
.let
{

    padding-top: 180px !important;
    padding-bottom: 240px !important;
    padding-left: 15px;
    padding-right: 15px;
	text-align:center;
	width:100%;
}
.let h2
{
	 font-family: Old Standard TT;
		font-size: 88px;
		color: #333333;
		line-height: 88px;
		 margin-bottom: 130px !important;
		 font-weight:400;
}
.let .let-boxes
{
	display: -webkit-flex; /* Safari */
    display: flex
}
.let .let-box
{
	width:50%;
	float:left;
	padding-right:35px;
	padding-left:70px;
	 -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
	
}
.let .let-box .let-box-content
{
	padding-top: 90px !important;
    padding-right: 70px !important;
    padding-bottom: 70px !important;
    padding-left: 70px !important;
	height:100%;
}
.pink
{
	background-color: #f8f4f3 !important;
}
.blue 
{
	background-color: #e9f0f2 !important;
}
.let .let-box .let-box-content h3
{
	font-size: 50px;
    color: #333333;
    line-height: 50px;
	margin-bottom: 65px !important;
	font-family: Old Standard TT;
	letter-spacing: .07em;
	font-weight: 400;
		
}
.let .let-box .let-box-content p
{
	margin-bottom: 50px !important;
    padding-right: 7% !important;
    padding-left: 7% !important;
	line-height: 32px;
    letter-spacing: .07em;
}
.let .let-box .let-box-content a
{
	color:#333;
	text-decoration:none;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 16px 65px;
	font-size: 16px;
    letter-spacing: .01em;
}
.let .let-box .let-box-content a:hover
{
	background:#333;
	color:#fff;
}
/**************************************/
/************ trusted **************/
.trusted-photo
{
	    background-image: url(http://alethemes.com/olins/wp-content/uploads/2017/04/bg.jpg);
		background-size:cover;		
		width:100%;
		height:500px;
}
.trusted-text
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	text-align:center;
	padding-top:200px;
	padding-bottom:200px;
	
}
.trusted-text p 
{
	color: #FFF;
    font-size: 28px;
    line-height: 44px;
	padding:0 10%;
	padding-bottom: 25px;
	position:relative;


}
.trusted-text p::after
{
	content:" ";
	height:1px;
	width:25px;
	background-color:#bebebe;
	position:absolute;
	left:50%;
	bottom:10px;
}
/*********************/
.three-icons
{
	/*background:yellow;
	height:300px;*/
 width: 90%;
	margin:0px auto;
	margin-top:100px;
}
.three-icons .icon-box
{
	width:33.3333333%;
	float:left;
	/*border:3px solid red;*/
	/*height:100%;*/
	padding-left:15px;
	padding-right:15px;
}
.three-icons .icon-box .inner-box
{
	/*height:100%;*/
	/*border:3px solid green;*/
}
.three-icons .icon-box .inner-box .image
{
	text-align:center;
	/*background:green;*/
	margin-bottom:20px;
	
}
.three-icons .icon-box .inner-box .image img
{ 
max-width:100%;
}
.three-icons .icon-box .inner-box  h4
{
	    font-size: 30px;
    color: #393939;
	text-align:center;
	/*background:pink;*/
	    margin-bottom: 20px !important;
		font-family: Old Standard TT;
		    font-weight: 400;

}
.three-icons .icon-box .inner-box  p
{
	    padding-right: 15% !important;
    padding-left: 15% !important;
	    margin-bottom: 35px;
		/*background:blue;*/
		text-align:center;
		line-height: 32px;
    letter-spacing: .07em;
}
/*****************************************/
/************** prtofolio *********************/
.prtofolio

{
	margin-top:170px;
	padding-left:60px;
	padding-right:60px;
}
.prtofolio .protofolio-box
{
	width:50%;
	/*border:3px solid green;*/
	float:left;
	padding-left:15px;
	padding-right:15px;
}
.prtofolio .protofolio-box .inner-box
{
	/*border:3px solid blue;*/
}
.prtofolio .protofolio-box .inner-box h2
{
	font-size: 50px;
    color: #333333;
    line-height: 65px;
    text-align: left;
	margin-bottom: 70px !important;
	font-weight:400;
	font-family: Old Standard TT;
}
.prtofolio .protofolio-box .inner-box p
{
	    margin-bottom: 35px;
		padding-right:150px !important;
		line-height: 32px;
    letter-spacing: .07em;
	text-align: left;
}
.prtofolio .protofolio-box img
{
	max-width:100%;
}
.margining
{
	margin-top:170px;
}
.footer
{
	background: #333;
    color: #656565;
    letter-spacing: .2em;
    text-align: center;
    padding: 60px 0;
    font-family: Old Standard TT;
}
.footer .social-icons
{
	margin-bottom: 20px;
}
.footer .social-icons span
{
    display: block;
    margin-bottom: 15px;
}
.footer .social-icons a 
{
	 color: #656565;
	 margin: 0 14px;
    font-size: 26px;
}
.footer .social-icons a:hover
{
	color:yellow;
}